.idea
.vscode
src/config.*
src/data/config/config_ini.*.php
src/.htaccess
src/data/logs/ip_logs/*.log
*.log
*.cache
src/data/config/config_global.*
src/data/logs/ref_logs/*.log
src/data/config/config_ini.localhost.php
data/config/config_global.*
data/logs/ref_logs/*.log
data/config/config_ini.localhost.php
/config.*
data/config/config_ini.*.php
/.htaccess
data/logs/ip_logs/*.log
src/data/logs/ref_logs/tmp.log
data/logs/ref_logs/tmp.log
!/assets/js/*
/includes/constants.php
*.gz
