 /* BANNER */
 #tms_banner_wraper{margin:auto; margin-top:10px;margin-bottom:10px}
 #home_banner_right img{width:100%; height:auto; margin-bottom:10px}
 .tms_slider img{width:100%; height:auto;min-height:246px;margin-bottom:10px} 
 .tms_banner_bottom img{width:100%; height:auto;}

 /* CAT */
 #home_block_danhmuc{ margin-bottom:10px; background:#fff;border-top: 1px solid  #ececec;  border-left: 1px solid  #ececec; }
 #home_block_danhmuc h3{min-height:50px;padding: 2px;text-align:center;font-size:14px; margin:0; padding:0  }
 #home_block_danhmuc h3 a{font-size:12px; margin:0; padding:0;color: #717171; }
 .home_block_danhmuc_list{border-bottom: 1px solid  #ececec;border-right: 1px solid  #ececec;}
 .home_block_danhmuc_list_img{border-radius: 100%;width: 100%;height: 100%;padding: 10px;display: inline-block;}
 .home_block_danhmuc_list_img img{width:100%; }


 
 /* shops */
 #shops_info{background: #fff;padding: 10px;position: relative;display: inline-block;width: 100%; margin-bottom:10px;}
 #shops_info_banner{background: #fff;padding: 10px;position: relative;display: inline-block;width: 100%;margin-bottom:10px;}	
 #shops_info_banner_intro img{ width:100%; height:auto;height: 300px; margin-bottom:10px }
 #tms_product_group {margin-bottom: 10px;background: #fff;}
 .tms_product_group_img img{ padding: 5px 0px 0px 5px;width:100%; height:100%;}

 /* BLOCK SHOPS */
 #home_block_shop_list{ margin-bottom:10px; background:#fff;border-top: 1px solid  #ececec;  border-left: 1px solid  #ececec; }
 #home_block_shop_list h3{min-height:42px;padding: 2px;text-align:center;font-size:14px; margin:0; padding:0  }
 #home_block_shop_list h3 a{font-size:12px; margin:0; padding:0;color: #717171; }
 .home_block_shop_list{border-bottom: 1px solid  #ececec;border-right: 1px solid  #ececec;text-align:center;}
 .home_block_shop_list_img{border-radius: 100%;width: 120px;height: 120px;padding: 10px;display: inline-block;     }
 .home_block_shop_list_img img{width:100%; }

 /* MAIN PRODUCT */
 #main_product{margin-bottom:20px; background:#fff;}
 .main_product_cat_title{padding:10px; background:whitesmoke}
 .main_product_cat_title h2{margin:0; padding:0;display: inline-block;}
 .main_product_cat_title h2 a{text-transform: uppercase;font-weight: 700;    color: #888888;}
 .link_product_more{float: right;}

 /* VIEWCAT PRODUCT */
 #tms_viewcat_banner{margin:auto;}
 #tms_viewcat_banner img{width:100%; height:auto; margin-bottom:10px}
 .tms_viewcat_category_child_title{padding:10px; background:whitesmoke;text-transform: uppercase;}
 .tms_viewcat_category_child{background:#fff; margin-bottom:10px; padding:5px;}
 .tms_viewcat_category_child ul{padding:0; margin:0}
 .tms_viewcat_category_child ul li{border-bottom: 1px solid #eeeeee;color: #262626;display: block;text-transform: capitalize;font-weight: 400; padding: 5px 5px 5px 2px;}
 .tms_viewcat_category_child i{color:#bbbbbb;}
 .tms_viewcat_category_child ul li:last-child {border-bottom: none; }
 .tms_viewcat_category_child img{float: left;width: 30px;height:20px;}


 /* DEFAULT */
.tms_block_white{padding: 10px;background: white; margin-bottom: 20px;position: relative;display: inline-block;width: 100%;}
.tms_block_white h3{text-transform: uppercase;font-weight: 700;color: #000;height: 30px;    border-bottom: 1px solid #f2f2f2;line-height: 30px;font-size: 16px;}
 .tms_defaul_title{padding:10px; background:whitesmoke}
 .tms_defaul_title h2{margin:0; padding:0;display: inline-block;}
 .tms_defaul_title h2 a{text-transform: uppercase;font-weight: 700;color: #888888;}
 .tms_defaul_more{float: right;}

 /* review */
 .tms_review_main{
    background-color:#f2f2f2; 
    padding:10px; 
    position: relative;
}
.tms_review_average{
    background-color:#fff; 
    padding:10px;
    position: relative;    
    border-radius: 10px; 
    margin-bottom:10px;
}
.tms_review_list{
    background-color:#fff; 
    padding:10px;
    position: relative;    
    border-radius: 10px; 
    margin-bottom:10px
}
.tms_review_img{
    float: left; 
    margin-right:10px;    
    border-radius: 10px; 
    border: 1px dashed rgba(102,102,102,.3); 
}
.tms_review_img img{
    height:80px; 
    width:80px;    
    border-radius: 10px;
}
.tms_review_rating{
    float: left; 
    text-align:center 
}
.tms_review_rating strong{
    font-size: 16px; 
    font-weight:600;
    display:block;
}
.tms_review_rating .cl{
    font-size: 20px;
    padding:4px 0px;
    color:#FDC91B;
    margin-right: 5px;
}
.tms_review_rating .no_cl{
    font-size: 20px;
    padding:4px 0px;
    color:#DDDDDD;
    margin-right: 5px;
}
.tms_review_list_right{
    display:block;
    border: 1px dashed rgba(102,102,102,.3);
    border-radius: 10px;  
    padding: 10px;
}
.tms_review_title{
    font-size: 12px;
    color:#3d8d41;
    font-weight:500;
}

.tms_review_value{
    font-size:70px;
    margin:0px;
    font-weight:600; 
    color: #8EBF1D;
}
.tms_review_left i{
    font-size:22px;
    padding:2px;
    color:#FDC91B;
}
.tms_review_left p{
    font-size:18px;
    color:#504F55;
}
.progress{
    background: #f1f1f1;
    box-shadow: none;
    border-radius: 0px;
    margin:7px 0px;
}
.progress .progress-bar{
    background: #8EBF1D;
}
.tms_review_right i{
    font-size: 20px;
    padding:3px 0px;
    color:#FDC91B;
}
.tms_review_right span{
    color:#8EBF1D;
    font-size:17px;
    padding-left: 5px;
}
.tms_review_user{
    text-align: center; 
    margin-bottom:10px;
}
.tms_review_detail{
    font-size: 14px;
    color:#2d2d2d;
    font-weight:500; 
    margin-bottom:10px;
}
.tms_review_detail_body {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 10px 0px 10px 0px;
}
.tms_review_detail_list {
    float: left;
    margin: 3px;
    background: #8ebf1d;
    word-break: break-word;
    color: #fff;
    padding: 3px;
    border-radius: 10px;}

    #tms_review{   
        padding: 10px;text-align: center;
    }
    #tms_review img {
        border: 1px solid #1c262d;
        border-radius: 150px;
        height: 150px;
        padding: 3px;
        width: 150px; 
        display:inline-block; 
        vertical-align: top;
    }
    .tms_review_title {
        color: #8ebf1d;
        font-size: 12px;
        position: relative;
        margin-bottom: 5px;
    }
    .tms_review_text {  
        background: #ffffffd4;     
        border-radius: 5px;
        min-height: 180px;
        color: #1c262d;
        padding:10px;
        line-height: 1.4em;
        font-size: 16px;
        position: relative;
    }
    #notification-area{
        z-index: 1000000;
    }
    .notify_item{
        padding: 10px 20px;
        border-bottom: solid 1px #dcdcdc;
    }
    #notification-area{
        display: inline-block;
    }
    #notification-area em{
        font-size: 20px;
        color: #fff !important;
    }
    #notification-area .dropdown-menu{
        left: unset;
        right: 0px;
        min-width: 400px;
    }
    #notification{
        position: absolute;
        top: -5px;
        right: 3px;
        color: red;
        padding: 0px 4px;
        background: #fff;
        border-radius: 100%;
        font-size: 10px;
    }
    .orange_background{
        background: orange;
        color: #fff;
    }
    
    .select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
        width: 5px;
    }
    .select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar:horizontal {
        height: 3px;
    }

    .select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    .select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
        background-color: #FF5500;
        border-radius: 5px;
    }

